* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #222323;
  color: #c78b07;
  padding: 20px;
  text-align: center;
  margin: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

nav a {
  color: #c78b07;
  text-decoration: none;
  margin: 0 20px;
}

nav a.home-button {
  color: #222323;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #c78b07;
}

nav img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  width: 50px; 
  height: 50px
}
.absoluted-bg{
        background-image: url(main-banner.jpg);
        background-size: 100% 100%;
        width: 100vw;
        height: 600px;
        position: relative;
}
.ab-bg-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 90vw;
    height: 500px;
}
.ab-bg-wrap p:first-child{
    color: white;
    font-size: calc(8vw);
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 15px;
}
.ab-bg-wrap p:nth-child(2){
    color: white;
    margin-left: 15px;
    margin-bottom: 30px;
    font-size: 20px;
}
form {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: start;
}

input[type="text"] {
  height: 30px;
  padding-right: 10px;
  margin-right: 10px;
  flex-shrink: 1;
}

.search-button {
  width: 30px;
  height: 30px;
  background-color: #222323;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c78b07;
}

.search-button svg {
  fill: #c78b07;
  height: 16px;
  width: 16px;
}

.content-home-button {
  color: #222323;
  text-decoration: none;
  margin-left: 15px;
  padding: 10px 20px;
  background-color: #c78b07;
}

.about-container {
  display: flex;
  align-items: center;
  background-color: #ffe6ad;
  width: 100vw;
}

.about-container img {
  width: 50%;
  height: 90%;
  object-fit: cover;
  margin-left: 15px;
}

.about-text {
  flex: 1;
  margin-right: 15px;
  margin-left: 20px
}

.about-text h1 {
  font-size: 60px;
}

.about-text p {
  font-size: x-large;
}

.service{
    font-size: 40px; 
    font-weight: bolder; 
    margin-left: 150px;
}
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card-containers {
  display: flex;
  width: 63vw;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 18.5vw;
}

.card-containerss {
  display: flex;
  width: 73vw;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 13.5vw;
}

.cardss {
  width: calc(50%);
  /* Calculate width dynamically */
  border: 1px solid #ccc;
  background-color: #ffe6ad;

  box-sizing: border-box;
  & img{
    margin-top: 0px; height: 100%; width: 100%
  }
}
.random-class1 {
    margin-left: 150px;
    margin-top: 50px;
  }
  .random-class2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .random-class3 {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 30px;
  }
  .random-class4 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .random-class5 {
    font-size: 15px;
    color: black;
    margin-left: 15px;
  }
  .random-class6 {
    margin-left: 15px;
    margin-top: 15px;
    height: 60px;
    width: 95%;
    background-color: #222323;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .random-class7 {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
  }
  .random-class8 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .random-class9 {
    font-size: x-large;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .random-class10 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .random-class11 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
  }
  .random-class12 {
    border-color: #c78b07;
    width: 95%;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  .random-class13 {
    background-color: #222323;
    padding: 10px;
    width: 100vw;
    text-align: left;
    color: #c78b07;
  }
  .random-class14 {
    max-width: 100%;
    margin-left: 150px;
  }
  .random-class15 {
    font-size: 20px;
    color: #c78b07;
    text-decoration: none;
  }
  .random-class16 {
    height: 60px;
    background-color: #ffe6ad;
  }
  .random-class17 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
  }
  .random-class18 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .random-class19 {
    font-size: 20px;
  }
  .random-class20 {
    height: 40px;
    font-size: 20px;
    background-color: #222323;
    color: #c78b07;
  }
  .random-class21 {
    font-size: 30px;
    margin-bottom: 0;
  }
  
  .random-class22 {
    font-size: 20px;
  }
  
  .random-class23 {
    width: 98%;
    height: 25px;
  }
  
  .random-class24 {
    width: 100%;
    height: 200px;
  }
  
  .random-class25 {
    background-color: #222323;
    color: #c78b07;
    height: 40px;
    font-size: 20px;
  }
  .contact{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 50px;
  }  
  .operation{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
.cardsss {
  width: calc(50%);
  box-sizing: border-box;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
table{
  width: 83vw; margin-left: 150px
}
tr{
  height: 60px;
}
tr:first-child{
  background-color: #ffe6ad
}
.card {
  position: relative;
  width: 30%;
  border: 1px solid #ccc;
  background-color: #ffe6ad;
  margin: 0 10px 20px;
  box-sizing: border-box;
}
.card img{
    margin-top: 0px; width: 100%; margin-bottom: 30px
}
.card h1{
    font-size: 30px; margin-bottom: 15px; margin-left: 15px
}
.cards {
  position: relative;
  width: calc(33% - 20px);
  border: 1px solid #ccc;
  background-color: #ffe6ad;
  margin: 0 10px 20px;
  box-sizing: border-box;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.6;
    color: black; 
    margin-left: 15px
}

.card button{
    margin-left: 15px;
    margin-top: 15px;
    height: 60px;
    width: 95%;
    background-color: #222323;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}
.our-vision {
  background-image: url(vision.jpg);
  width: 100vw;
  background-size: 100% 100%;
  padding-bottom: 30px;
  & h1{
    font-size: 40px; color: white; margin-left: 150px
  }
  & p{
    font-size: 20px; margin-left: 150px; color: white
  }
  & button{
    margin-left: 150px;
    height: 70px;
    width: 250px;
    background-color: #222323;
    color: white;
    font-size: 20px;
    border-color: #c78b07;
  }
}
.team{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 50px;
}
footer{
    background-color: #222323;
    padding: 10px;
    width: 100vw;
    text-align: left;
    color: #c78b07;
}
.copyright{
    max-width: 100%; margin-left: 150px;
    & a{
        color: #c78b07; text-decoration: none
    }
}
@media (min-width: 860px) {
.card img,
.cards img {
  width: 90%;
}
}
@media (max-width: 860px) {
  .card-container,
  .card-containers,
  .about-container,
  .card-containerss {
    flex-direction: column;
  }

  .card-containers {
    width: 100vw;
    margin-left: 0;
  }

  .card-container .card,
  .card-containers .cards,
  .cardss,
  .cardsss {
    width: 100%;
  }
  .about-text h1 {
    font-size: 40px;
  }

  .about-text p {
    font-size: 3.5vw;
  }
}